{% extends "layout.html" %}

{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
<!-- Include Summernote JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>


{% comment %} <div class="container">
    <h1>Create a Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form | safe }}
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div> {% endcomment %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">Title</label>
        <input type="text" name="title" id="id_title" class="form-control w-100" required>
    </div>
    <div class="form-group">
        <label for="id_cover_image">Cover Image</label>
        <input type="file" name="cover_image" id="id_cover_image" class="form-control-file" required>
    </div>
    <label>Select category: {{ form.category }} </label>
    <div class="form-group">
        <label for="id_short_description">Short Description</label>
        <textarea name="short_description" id="id_short_description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="id_content">Content</label>
        <textarea name="content" id="id_content" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="id_status">Status</label>
        <select name="status" id="id_status" class="form-control" required>
            <option value="">--- Select Status ---</option>
            <option value="draft">Draft</option>
            <option value="published">Published</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Initialize Summernote for textareas -->
<script>
    $(document).ready(function() {
        $('#id_content, #id_short_description').summernote({
            // Summernote options here
        });
    });
</script>

{% endblock content %}

