{% extends "layout.html" %}

{% block title %}{% endblock title %}

{% block content %}
<section class="py-5">
    {% for post in posts %}
    {% if post.status == 'draft' %}

    {% else %}
    <div class="row align-items-center gy-md-5">
        <div class="col-md-6">
            <div class="mt-4 mt-md-0"><img alt="" class="img-fluid rounded my-md-0 my-4" src="{{ post.cover_image.url }}"></div>
        </div>
        <div class="col-md-6">
            <a class="text-primary fw-semibold text-decoration-none" href="">
                {% if post.category == "" %}
                {% else %}
                {{ post.category }}
                {% endif %}
            </a>
            <h2 class="fw-semibold my-1">{{ post.title | safe }}</h2>
            {% comment %} <div class="text-muted">
                10.10.2017
            </div> {% endcomment %}
            <p class="my-4">{{ post.short_description | safe }}</p>
            <a class="btn-link" href="{% url 'resource_view' post.slug %}">Read more</a>
        </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock content %}


